# ===== Mailer configuration =====

EMAIL_SENDER=your.sender.email@gmail.com  # Address that will send the message.
EMAIL_RECEIVER=your.receiver.email@gmail.com # Address that will receive the message.
SMTP=smtp.gmail.com # Replace with your email provider smtp


# ===== PostgreSQL configuration =====

POSTGRES_PORT=5432
POSTGRES_ADMIN_USER=admin
POSTGRES_PIPELINE_USER=pipeline
POSTGRES_DB=db
